RewriteEngine On
RewriteRule ^about$ pages/about.php [NC]
RewriteRule ^resources$ pages/resources.php [NC]
RewriteRule ^support$ pages/support.php [NC]
RewriteRule ^opr(.*) apps/opr$1 [NC]

RedirectMatch 404 /\..*$