RewriteEngine On
RewriteRule opr apps/tempOPR/ [NC]

RewriteCond %{REQUEST_URI} !/apps [NC]
RewriteRule ^([^\.]+)$ pages/$1.php [NC]



RewriteCond %{SCRIPT_FILENAME} -d [OR]
RewriteCond %{SCRIPT_FILENAME} -f
RewriteRule "(^|/)\." - [F]